{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Footer</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div>
        <!-- <div class="alert alert-warning">
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center mx-2">
                    <img src="{% static 'test1/express-delivery.png' %}" alt="" style="height: 50px; width: 50px;">

                    <div>
                        <h5 class="mx-1">On Time Delivery</h5>
                    </div>
                    <img src="{% static 'test1/divide.png' %}" alt="" style="height: 50px; width: 50px;">
                </div>

                <div class="d-flex align-items-center mx-2">
                    <img src="{% static 'test1/hygenic.png' %}" alt="" style="height: 50px; width: 50px;">

                    <div>
                        <h5 class="mx-2">100% Fresh & Hygienic</h5>
                    </div>
                    <img src="{% static 'test1/divide.png' %}" alt="" style="height: 50px; width: 50px;">
                </div>

                <div class="d-flex align-items-center mx-1">
                    <img src="{% static 'test1/fssai.png' %}" alt="" style="height: 60px; width: 100px;">

                    <div>
                        <h5 class="mx-2">FSSAI Certified</h5>
                    </div>
                </div>

            </div>
        </div> -->




        <div class="container-fluid text-center" style="background-color: #212529;">
            <div class="row">
                <div class="col">
                    <a href="https://www.whatsapp.com/" target="_blank">
                        <i class="bi bi-whatsapp mx-2" style="color:white; font-size: 30px;">
                        </i>
                    </a>

                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="bi bi-facebook mx-2" style="color:white; font-size: 30px;">
                        </i>
                    </a>


                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="bi bi-instagram mx-2" style="color:white; font-size: 30px;">
                        </i>
                    </a>


                    <a href="https://twitter.com/?lang=en" target="_blank">
                        <i class="bi bi-twitter-x mx-2" style="color: white; font-size: 30px;">
                        </i>
                    </a>

                </div>
            </div>
            <div class="row">
                <h6 class="text-center mt-2" style="color: white;">&copy;All rights reserved</h6>
            </div>
        </div>
    </div>
</body>

</html>